In [1]:
import pandas as pd

In [2]:
file = "/Users/chuxiaoyu/Downloads/transformed_slurm_table.parquet"

In [3]:
df = pd.read_parquet(file)

In [4]:
df

,id,start_date,end_date,node,nodetypes,numnodes,numcores,sharednode,submit,start,end,state,exitcode,reservation,partprepaid
0,1,2021-12-26 22:06:31,2021-12-31 22:06:50,r13n5,normal(1),1,16,0,1640538678,1640559991,1640992010,TIMEOUT,0:0,,0
1,2,2021-12-26 22:06:43,2021-12-31 22:06:50,r14n27,normal(1),1,16,0,1640538678,1640560003,1640992010,TIMEOUT,0:0,,0
2,3,2021-12-26 22:06:43,2021-12-31 22:06:50,r15n12,normal(1),1,16,0,1640538678,1640560003,1640992010,TIMEOUT,0:0,,0
3,4,2021-12-26 22:06:43,2021-12-31 22:06:50,r10n14,normal(1),1,16,0,1640538678,1640560003,1640992010,TIMEOUT,0:0,,0
4,5,2021-12-26 22:06:43,2021-12-31 22:06:50,r10n30,normal(1),1,16,0,1640538678,1640560003,1640992010,TIMEOUT,0:0,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1596960,2323557,2022-11-01 12:58:19,2022-11-01 12:59:01,r14n20,normal(1),1,16,0,1667310861,1667311099,1667311141,COMPLETED,0:0,,0
1596961,2323558,2022-11-01 12:58:19,2022-11-01 12:59:18,r14n21,normal(1),1,16,0,1667310866,1667311099,1667311158,COMPLETED,0:0,,0
1596962,2323559,2022-11-01 12:55:57,2022-11-01 12:58:54,r28n1,gpu_titanrtx_shared(1),1,6,1,1667310957,1667310957,1667311134,CANCELLED by 53371,0:0,,0
1596963,2323560,2022-11-01 12:56:17,2022-11-01 12:56:24,r13n10,shared(1),1,6,1,1667310972,1667310977,1667310984,FAILED,1:0,,0
1596964,2323561,2022-11-01 12:56:45,2022-11-01 12:58:12,r28n1,gpu_titanrtx_shared(1),1,6,1,1667311005,1667311005,1667311092,FAILED,1:0,,0